<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <title>new page</title>
    <link rel="stylesheet" href="/src/css/libraries/AdminLTE-master/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/src/css/libraries/AdminLTE-master/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/src/css/libraries/AdminLTE-master/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/src/css/libraries/AdminLTE-master/AdminLTE.css">
    <link rel="stylesheet" href="/src/css/libraries/AdminLTE-master/skin-blue.min.css">
    <link rel="stylesheet" href="/dist/bundle.js">

    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition skin-blue sidebar-mini">

{% block body %}
{% endblock body %}

{% block script %}
    <script src="/src/js/libraries/AdminLTE-master/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="/src/js/libraries/AdminLTE-master/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/src/js/libraries/AdminLTE-master/adminlte.min.js"></script>
{% endblock script %}

</body>
</html>
