{% extends 'admin/admin_base.twig' %}

{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">

        </section>

        <!-- Main content -->
        <section class="content">
            <!-- /.row -->
            <div class="row">
                <div class="col-xs-12">

                    <!-- /.box -->
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
{% endblock content %}
